/server/plugins/dynmap/colorschemes/
/server/plugins/dynmap/export/
/server/plugins/dynmap/markers/
/server/plugins/dynmap/renderdata/
/server/plugins/dynmap/templates/
/server/plugins/dynmap/texturepacks/
/server/plugins/dynmap/web/
/server/plugins/bStats/
/server/plugins/Essentials/userdata/
/server/plugins/Essentials/userdata-npc-backup/
/server/plugins/Essentials/warps/
/server/plugins/LuckPerms/translations/
/server/plugins/LuckPerms/libs/
/server/plugins/WorldEdit/.archive-unpack/
/server/plugins/WorldEdit/assets/
/server/plugins/WorldEdit/schematics/
/server/plugins/WorldEdit/sessions/
/server/plugins/*.jar
/server/versions/
/server/worlds/
/server/cache/
/server/libraries/
/server/logs/
/.idea/
